* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

/* Set the background color to black */
body {
    background-color: #080808;
    color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url("images/giga-banner2.jpg");
    background-size: cover;
    background-position: center;
}